@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">
            <h1>Mission</h1>
            <p class="lead">The overall purpose of PTA is to make every child’s potential a reality by engaging and empowering families and communities to advocate for all children.</p>
        </div>
    </div>
</div>

@*<h2>Contact</h2>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>*@