@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h2 class="text-center">Welcome to Hickory Elementary PTA!</h2>
            <p class="lead text-justify">The overall purpose of PTA is to make every child’s potential a reality by engaging and empowering families and communities to advocate for all children.</p>
        </div>
        <div class="col-md-5">
            <img src="Content/images/hickoryschool.jpg" class="center-block img-responsive img-rounded" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8" style="border-right: 1px solid #eee;">
        @Html.Action("Events")
    </div>
    <div class="col-md-4">
        @Html.Action("Newsletters")
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Action("BreakingNews")
    </div>
</div>
