@model IEnumerable<PTAData.Entities.CommitteeEvent>

@if (Model != null && Model.Count() > 0)
{
    <h4>Events</h4>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Date</td>
                    <td>Location</td>
                </tr>
            </thead>
            <tbody>
    @foreach(var evt in Model)
    {
                <tr>
                    <td>@evt.PostTitle</td>
                    <td>@evt.EventDate.ToShortDateString()</td>
                    @{ var location = evt.Location != null ? evt.Location.Name : "";}
                    <td>@location</td>
                </tr>
    }
            </tbody>
        </table>
    
}

