@model HickoryPTAApp.Models.FilesPartialModel

@if (Model.Files != null && Model.Files.Count() > 0)
{
    <h2>@Model.Title</h2>
    <ul>
        @foreach (var file in Model.Files)
	    {
		    <li><a href="@file.Path.Replace("~", String.Empty)">@file.FileName</a></li>
	    }
    </ul>
}