@model object

@{
}
<div class="col-md-6">
@Html.TextArea("", ViewData.TemplateInfo.FormattedModelValue.ToString(), new { @class = "form-control col-md-6", rows="5" })
    @Html.ValidationMessageFor(model => model)
</div>