@model PTAData.Entities.Member

@* This partial view defines form fields that will appear when creating and editing entities *@

@Html.EditorFor(model => model, "Member")

<div class="form-group">
    @Html.LabelFor(m => m.MembershipId, "Membership", new { @class = "col-md-12" })
    <div class="col-md-4">
        @{var list = ((IEnumerable<PTAData.Entities.Membership>)ViewBag.PossibleMemberships);}
        @Html.DropDownListFor(model => model.MembershipId, list.Select(option => new SelectListItem
        {
            Text = option.Address.StreetAddress,
            Value = option.MembershipId.ToString(),
            Selected = (Model != null) && (option.MembershipId == Model.MembershipId)
        }), 
        "Choose...",
        new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MembershipId)
    </div>
</div>

