@model PTAData.Entities.Committee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginHorizontalForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Committee</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" name="Command" value="Save" class="btn btn-default" />
            </div>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


