@model PTAData.Entities.ChairPerson

@{
    var possibleChairs = ViewBag.PossibleChairs as List<HickoryPTAApp.Models.ApplicationUser>;  
} 
<div class="col-xs-12">

    @Html.DropDownListFor(model => model.MemberId, possibleChairs.Select(option => new SelectListItem
        {
            Text = option.Member.Name.ToString(),
            Value = option.MemberId.ToString(),
            Selected = (Model != null) && (option.MemberId == Model.MemberId)
        }),
        "Choose...",
                new { @class = "form-control col-xs-3" })
    @Html.ValidationMessageFor(model => model.MemberId)
    @Html.EditorFor(model => model.Rank, new { htmlAttributes = new { @class = "form-control chairRank col-xs-1" } })
</div>
